<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="PasswordConfirmFrame">
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>240,336</pos>
			<object class="wxBoxSizer" variable="BoxSizer1" member="no">
				<orient>wxVERTICAL</orient>
				<object class="sizeritem">
					<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrlPassowrd" member="yes">
						<style>wxTE_PASSWORD</style>
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>old password</label>
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="TextCtrlRepeatPassword" member="yes">
						<style>wxTE_PASSWORD</style>
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
						<label>repeat old password</label>
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxButton" name="ID_BUTTONCONFIRMAPASS" variable="ButtonConfirmPass" member="yes">
						<label>Confirm</label>
						<handler function="OnButtonConfirmPassClick" entry="EVT_BUTTON" />
					</object>
					<flag>wxALL|wxEXPAND</flag>
					<border>5</border>
					<option>1</option>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
